In [1]:
import numpy as np
import pandas as pd

In [2]:
rows=int(input("Enter the number of rows:"))

Enter the number of rows:2

In [5]:
cols=int(input("Enter the number of cols:"))

Enter the number of cols:2

In [6]:
a = [[int(input()) for c in range (cols)] for r in range(rows)]

1
2
3
4

In [9]:
b = [[int(input()) for c in range (cols)] for r in range(rows)]

5
6
7
8

In [7]:
print(a)

[[1, 2], [3, 4]]

In [10]:
print(b)

[[5, 6], [7, 8]]

In [11]:
c=np.dot(a, b)  
c

array([[19, 22],
       [43, 50]])

In [12]:
transpose = np.transpose(a)
print(transpose)

[[1 3]
 [2 4]]

In [13]:
trace=np.trace(a)
print(trace)

5

In [14]:
rank=np.linalg.matrix_rank(a)
print(rank)

2

In [15]:
determinant=np.linalg.det(a)
print(determinant)

-2.0000000000000004